*{
    user-select: none;
}

:root{
    --bg-color: rgb(24,24,24);
    --primary-color: rgb(130, 255, 153);
    --secondary-color: rgb(168, 72, 237);
    --dark-border-color: rgb(32,32,32);
    --hoverable-bg-color: rgb(32,32,32);
    --hoverable-hover-bg-color: rgba(28,28,28, .95);
    --hoverable-border-color: rgb(66,66,66);
    --h1-color: rgb(235,235,235);
    --h2-color: rgb(215,215,215);
    --h3-color: rgb(225,225,225);
    --p-color: rgb(215,215,215);
    --li-color: rgb(160,160,160);
    --card-span-bg: rgb(42,42,42);
    --card-span-border-color: rgb(65,65,65);
}

body{
    background-color: var(--bg-color);
    color: white;
    font-family: Roboto, sans-serif;
}

label, p{
    display: flex;
    justify-content: center;
}

hr{
    height: 1px;
    border: none;
    background-color: rgb(100,100,100);
}

p{
    margin: 0;
}

input[type="radio"]{
    appearance: none;
}

.answers-div:has(input[type="radio"]:checked){
    background: linear-gradient(rgb(28,28,28, .95)) padding-box,
                linear-gradient(45deg, var(--primary-color), var(--secondary-color), var(--primary-color)) border-box;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: true;
}

@keyframes rotate {
    to{
        --angle: 1turn;
    }
}

.question-section-div{
    position: relative;
    width: 750px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: center;
}

.answers-div{
    position: relative;
    cursor: pointer;
    width: 750px;
    height: 20px;
    padding: 7px;
    border-radius: 4px;
    border: 1px solid transparent;
    background: linear-gradient(rgb(32,32,32)) padding-box,
                conic-gradient(rgb(66,66,66)) border-box;
    animation: rotate 2s linear infinite;
}

.answers-div:hover{
    background: linear-gradient(rgb(32,32,32)) padding-box,
                conic-gradient(rgb(150,150,150)) border-box;
}

.lgbttext{
    font-size: 46px;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
}

.lgbttext2{
    font-size: 30px;
    color: rgb(225,225,225);
    background-clip: text;
}

header{
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.title{
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: left;
    font-family: Roboto, sans-serif;
}

.title a{
    padding: 0;
    font-size: 40px;
    margin-left: 32px;
    cursor: pointer;
    padding-top: 7.75px;
    padding-bottom: 16px;
    font-weight: 600;
    color: rgb(160,160,160);
    text-decoration: none;
    transition: 200ms;
}

.title a:hover{
    color: rgb(225,225,225);
}

button{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 100vw;
    color: rgb(185,185,185);
    cursor: pointer;
    font-weight: bold;
    border: 1px solid transparent;
    background: linear-gradient(rgb(32,32,32)) padding-box,
                conic-gradient(rgb(66,66,66)) border-box;
    animation: rotate 2s linear infinite;
}

button:hover{
   background: linear-gradient(rgb(28,28,28, .90)) padding-box,
                conic-gradient(from var(--angle), var(--primary-color), var(--secondary-color), var(--primary-color)) border-box;
    color: white;
}

img{
    position: relative;
    max-width: 100%;
    margin: auto;
    justify-content: center;
    display: flex;
}