*{
    user-select: none;
}
:root{
    --bg-color: rgb(24,24,24);
    --primary-color: rgb(130, 255, 153);
    --secondary-color: rgb(168, 72, 237);
}
body{
    background-color: var(--bg-color);
    color: white;
}
label, p{
    display: flex;
    justify-content: center;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: true;
}

@keyframes rotate {
    to{
        --angle: 1turn;
    }
}

p, h2{
    margin: 0;
}
input[type="radio"]{
    appearance: none;
}

div{
    position: relative;
    width: 750px;
    height: 20px;
    padding: 5px;
    border-radius: 0.5rem;
    background-color: rgb(32,32,32);
    display: flex;
}

div::after{
    content: "";
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: linear-gradient(rgb(66,66,66));
    padding: 1.5px 1.5px 2px 1.5px;
    left: -1px;
    bottom: -1px;
    z-index: -1;
    border-radius: inherit;
    transition: 200ms;
}

div:has(input[type="radio"]:checked){
    color: var(--primary-color);
}
div:has(input[type="radio"]:checked)::after{
    content: "";
    position: absolute;
    background-image: linear-gradient(var(--primary-color), var(--secondary-color));
}

div:has(input[type="radio"].chosen){
    color: red;
}
div:has(input[type="radio"].chosen)::after{
    content: "";
    position: absolute;
    background-image: linear-gradient(red, red);
}

.lgbttext{
    font-size: 46px;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
}

.lgbttext2{
    font-size: 30px;
    color: var(--primary-color);
    background-clip: text;
}

header{
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.title{
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: left;
    font-family: Roboto, sans-serif;
}

.title a{
    padding: 0;
    font-size: 40px;
    margin-left: 32px;
    cursor: pointer;
    padding-top: 7.75px;
    padding-bottom: 16px;
    font-weight: 600;
    color: rgb(160,160,160);
    text-decoration: none;
    transition: 200ms;
}

.title a:hover{
    color: rgb(225,225,225);
}
button{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
    border: none;
    border-radius: 0.75rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
   border: 2px solid white;
   color: white;
}
img{
    width: 700px;
    height: 400px;
    margin: auto;
    justify-content: center;
    display: flex;
}
.tick, .cross{
    margin: 0;
    margin-left: auto;
    padding-right: 5px;
}
.cross{
    padding-bottom: 8px;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
}

h2{
    position: relative;
    height: 20px;
    padding: 20px;
    border-radius: 0.5rem;
    background-color: rgb(32,32,32);
    display: flex;
    margin-bottom: 30px;
    z-index: 2;
    color: rgb(215,215,215);
}

h2::after{
    content: "";
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 1px 1px 1px 1px;
    left: 0;
    bottom: 0;
    z-index: -1;
    inset: 0;
    border-radius: inherit;
    transition: 200ms;
    border: 1px solid transparent;
    background: linear-gradient(var(--angle), rgb(28,28,28, .95)) padding-box,
                linear-gradient(var(--angle), var(--primary-color), var(--secondary-color), var(--primary-color)) border-box;
    animation: rotate 2s linear infinite;
}